<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>
  <body>
    <form action="/startProcess" method="post">
    
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Page_Id Of Notion</span>
            </div>
            <input type="text" name="notionPageId" class="form-control" aria-label="notionPageId" aria-describedby="inputGroup-sizing-default">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">WorkspaceName of Confluence</span>
            </div>
            <input type="text" name="confluenceWorkSpaceName" class="form-control" aria-label="workSpaceName" aria-describedby="inputGroup-sizing-default">
          </div>

          <button type="submit" class="btn btn-outline-dark" ><strong>Start Process🔌</strong></button>
      </form>

      <div id="onSuccess">
        <h5 id="headingOfProcess">  </h5>
        <h4 id="processSteps"></h4>
      </div>

        <div id="screen">
          <%if (process) {%>
            <%if (!error) {%>
        <div id="onSuccess">
          <h5> Congratuallations 🎉</h5>
         <h4>{ </h4> 
            <h4><strong> status <%= expression1 %> </strong> :  <%= status %> </h4>
          <h4><strong> message 📧 </strong> :  <%= message %> </h4>
          <h4><strong> title 📃 </strong> :  <%= pagetitle %> </h4>
          <h4><strong> WorkSpace ⚒ </strong> :  <%= workspaceName %> </h4>
          <h4>}</h4>
        </div> 
        <%} else {%>
          <div id="onSuccess">
            <h5> Some Error Caused 🛑</h5>
            <h4>{ </h4> 
              <h4><strong> status <%= expression1 %> </strong> :  <%= status %> </h4>
             <h4><strong> message 📧 </strong> :  <%= message %> </h4>
             <h4>}</h4>
           </div> 
          <%}%>
          
          <%}%>
      </div>

</body>
</html>